@model PagerModel    

<div style="text-align:center">
    @if (Model.PageCount < 2 && Model.PagingDisplayMode == PagingDisplayMode.IfNeeded)
    {

    }
    else
    {
        <nav>
            <ul class="pagination">
                @if (Model.HasPreviousPage)
                {
                    <li><a href='@Model.OnPageChange(Model.PageIndex - 1)' aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    <li><a href='@Model.OnPageChange(Model.PageIndex - 1)'> @Model.PageIndex-1 </a></li>
                }
                else
                {
                    <li class="disabled"><a href="javascript:void(0)" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                }
                <li class="active"><a href="javascript:void(0)">@Model.PageIndex<span class="sr-only">(current)</span></a></li>
                @if (Model.HasNextPage)
                {
                    <li><a href='@Model.OnPageChange(Model.PageIndex + 1)'> @Model.PageIndex+1 </a></li>
                    <li><a href='@Model.OnPageChange(Model.PageIndex + 1)' aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                }
                else
                {
                    <li class="disabled"><a href="javascript:void(0)" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                }
            </ul>
        </nav>
        <div>
            <span>每页有<strong>@Model.PageSize</strong>条数据，一共有<strong>@Model.PageCount</strong>页，总计<strong>@Model.TotalCount</strong>条数据</span>
        </div>
    }        
</div>