@using ActivityReservation.Helpers
@using ActivityReservation.Services
@inject IApplicationSettingService applicationSettings
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@($"{ViewBag.Title} -- {applicationSettings.GetSettingValue("SystemTitle")}") </title>
    <environment names="Development">
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    </environment>
    <style type="text/css">
        @@media only screen and (max-width:780px) {
            #githubLink {
                display: none;
            }
        }
    </style>
    @RenderSection("styles", required: false)
</head>
<body>
    <a id="githubLink" style="position:fixed;top:0;right:0;z-index:19941008" href="https://github.com/WeihanLi/ActivityReservation"><img width="149" height="149" src="https://github.blog/wp-content/uploads/2008/12/forkme_right_darkblue_121621.png?resize=256%2C256" class="attachment-full size-full" alt="Fork me on GitHub" data-recalc-dims="1"></a>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("系统管理后台", "Index", "Home", new { area = "Admin" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("预约", "Reservate", "ReservationManage")</li>
                    <li>@Html.ActionLink("预约管理", "Index", "ReservationManage")</li>
                    <li>@Html.ActionLink("网站首页", "Index", "Home", new { area = "" }, new { target = "_blank" })</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a href="/Admin/Account/Login">登录</a>
                        </li>
                    }
                    else
                    {
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                @(User.Identity.Name) <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("我的账户", "Index", "Account")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("退出登录", "Logout", "Account")</li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="main-content" style="margin-top: 5em">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.UtcNow.Year - @applicationSettings.GetSettingValue("SystemTitle") &nbsp;&nbsp; </p>
        </footer>
    </div>
    <environment names="Development">
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Content/layer/layer.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdn.bootcss.com/twitter-bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="https://cdn.bootcss.com/layer/2.3/layer.js"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>