@using ActivityReservation.Helpers;
@model PagedListModel <Models.OperationLog>
@{
    Layout = null;
}
<table class="table table-striped">
    <thead>
        <tr>
            <th>日志模块</th>
            <th>日志内容</th>
            <th>操作人</th>
            <th>操作时间</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Models.OperationLog item in Model.Data)
        {
            <tr>
                <td>
                    @item.LogModule
                </td>
                <td>
                    @item.LogContent
                </td>
                <td>
                    @item.OperBy
                </td>
                <td>
                    @item.OperTime.ToString("yyyy-MM-dd HH:mm:ss")
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.Pager(Model.Pager, pageIndex => String.Format("javascript:loadData({0})", pageIndex), "PagerPartial", PagingDisplayMode.IfNeeded)