@using OpenReservation.Models
@model IPagedListModel<OpenReservation.ViewModels.ReservationListViewModel>
@{
    Layout = null;
}
@if (Model.Data.Count > 0)
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>预约项目</th>
                <th>预约使用日期</th>
                <th>预约使用时间</th>
                <th>预约单位</th>
                <th>备注</th>
                <th>预约人姓名</th>
                <th>预约人联系方式</th>
                <th>预约时间</th>
                <th>审核状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                string status = "待审核", className = "";
                switch (item.ReservationStatus)
                {
                    case ReservationStatus.UnReviewed:
                        break;
                    case ReservationStatus.Reviewed:
                        status = "审核通过";
                        className = "bg-success";
                        break;
                    case ReservationStatus.Rejected:
                        status = "审核未通过";
                        className = "bg-danger";
                        break;
                    case ReservationStatus.Canceled:
                        className = "bg-warning";
                        status = "已取消";
                        break;
                    default:
                        break;
                }
                <tr class="@className">
                    <td>
                        @item.ReservationPlaceName
                    </td>
                    <td>
                        @item.ReservationForDate.ToString("yyyy-MM-dd")
                    </td>
                    <td>
                        @Html.Raw(item.ReservationForTime.Replace(",", "<br />"))
                    </td>
                    <td>
                        @item.ReservationUnit
                    </td>
                    <td>
                        @item.ReservationActivityContent
                    </td>
                    <td>
                        @item.ReservationPersonName
                    </td>
                    <td>
                        @item.ReservationPersonPhone
                    </td>
                    <td>
                        @item.ReservationTime.AddHours(8).ToString("yyyy-MM-dd HH:mm:ss")
                    </td>
                    <td>
                        @Html.Raw(status)
                    </td>
                    <td>
                        <button class="btn btn-danger" onclick="DeleteReservation('@item.ReservationId')">删除</button>
                        @if (item.ReservationStatus == ReservationStatus.UnReviewed)
                        {
                            <button onclick="UpdateStatus('@item.ReservationId', 1)" class="btn btn-success">通过</button>
                            <button onclick="UpdateStatus('@item.ReservationId', -1)" class="btn btn-warning">不通过</button>
                        }
                        @if (item.ReservationStatus == ReservationStatus.Reviewed)
                        {
                            <button class="btn btn-default" onclick="ViewReservation('@item.ReservationId', '@item.ReservationPersonPhone')">打印</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @Html.Pager(Model.Pager, pageIndex => $"javascript:loadData({pageIndex})", "PagerPartial", PagingDisplayMode.IfNeeded)
}
else
{
    <div class="nodata-tip">
        暂时没有数据.
    </div>
}