@model ActivityReservation.Models.Reservation
@{
    ViewBag.Title = "预约结果";
}
@section styles{
    <style type="text/css">
        .title {
            text-align: center;
            font-size: 24px;
            line-height: 1.6em;
        }

        #content td {
            border: 1px solid #000;
        }

        .subtitle {
            text-align: left;
            vertical-align: top;
            line-height: 14px;
        }

        .row0 {
            height: 40px;
        }

        .row1 {
            height: 120px;
        }

        .qz {
            line-height: 12px;
            margin: 1em 0.2em 0 0;
            text-align: right;
            vertical-align: bottom;
        }
    </style>
    <!--media=print 这个属性可以在打印时有效-->
    <style media="print">
        .subtitle {
            text-align: left;
            vertical-align: top;
            line-height: 10mm;
        }

        .row0 {
            height: 10mm;
        }

        .row1 {
            height: 24mm;
        }

        .qz {
            line-height: 8mm;
            margin: 4mm 2mm 0 0;
            text-align: right;
            vertical-align: bottom;
        }
    </style>
}
<div id="table-wraper">
    <div id="table-header" class="hidden-print" style="padding-left: 100px;">
        <div class="tabel-title">
            <h3>
                预约情况 &nbsp;
                <small>
                    <input type="button" value="返回" class="btn btn-success" onclick="history.back()" />
                    <input id="btnPrint" type="button" onclick="window.print()" class="btn btn-success" value="打印" />
                </small>
            </h3>
        </div>
    </div>
    <div id="main">
        <div class="title">河南理工大学大学生活动中心活动场地借用审批表</div>
        <div style="padding: 0.4em 6em">
            <table class="table table-bordered" id="content" style="border-collapse: collapse; border: 1px solid #000; margin: 0 auto;" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr class="row0">
                        <td>
                            借用单位
                        </td>
                        <td>
                            @Model.ReservationUnit
                        </td>
                        <td>
                            借用时间
                        </td>
                        <td>
                            @Html.Raw(Model.ReservationForDate.ToString("yyyy-MM-dd") + "<br />" + Model.ReservationForTime)
                        </td>
                    </tr>
                    <tr class="row0">
                        <td>
                            经办人
                        </td>
                        <td>
                            @Model.ReservationPersonName
                        </td>
                        <td>
                            联系方式
                        </td>
                        <td>
                            @Model.ReservationPersonPhone
                        </td>
                    </tr>
                    <tr class="row0">
                        <td>
                            借用场地
                        </td>
                        <td>
                            @Model.Place?.PlaceName
                        </td>
                        <td>
                            使用设备
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr class="row1">
                        <td>
                            活动内容<br /> 参加人员、人数
                        </td>
                        <td colspan="3" style="text-align: left; vertical-align: top">
                            @Model.ReservationActivityContent
                        </td>
                    </tr>
                    <tr class="row1">
                        <td colspan="4">
                            <p class="subtitle">借用负责人承诺遵守本办法中的相关规定和要求。</p>
                            <p class="qz">
                                <span>签字：&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; </span>
                            </p>
                            <p class="qz">
                                <span>年&nbsp;&nbsp;月&nbsp;&nbsp;日&nbsp;&nbsp; </span>
                            </p>
                        </td>
                    </tr>
                    <tr class="row1">
                        <td colspan="2">
                            <p class="subtitle">借用单位意见：</p>
                            <p class="qz">
                                <span>主管负责人签字（盖章）： &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;</span>
                            </p>
                            <p class="qz">
                                <span>年&nbsp;&nbsp;月&nbsp;&nbsp;日&nbsp;&nbsp;</span>
                            </p>
                        </td>
                        <td colspan="2">
                            <p class="subtitle">大学生活动中心活动场地管理人员意见：</p>
                            <p class="qz">
                                <span>签字：&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;</span>
                            </p>
                            <p class="qz">
                                <span>年&nbsp;&nbsp;月&nbsp;&nbsp;日&nbsp;&nbsp;</span>
                            </p>
                        </td>
                    </tr>
                    <tr class="row1">
                        <td colspan="2">
                            <p class="subtitle">校团委签批：</p>
                            <p class="qz">
                                <span>主管书记签字：&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;</span>
                            </p>
                            <p class="qz">
                                <span>年&nbsp;&nbsp;月&nbsp;&nbsp;日&nbsp;&nbsp;</span>
                            </p>
                        </td>
                        <td colspan="2">
                            <p class="subtitle">保卫处签批：</p>
                            <p class="qz">
                                <span>主管处长签字：&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;</span>
                            </p>
                            <p class="qz">
                                <span>年&nbsp;&nbsp;月&nbsp;&nbsp;日&nbsp;&nbsp;</span>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="clear: both; width: 100%; padding: 15px 100px;">
            <p>
                <span>
                    备注：
                </span>
            </p>
            <p>
                <span>
                    1. 审批时间、地点：每周一、三、五（节假日除外），大学生活动中心304室。
                </span>
            </p>
            <p>
                <span>2.借用场地需交付使用押金100元。</span>
            </p>
            <p>
                <span>3.此表一式两份，交由校团委存档和保卫处备案。</span>
            </p>
        </div>
    </div>
</div>