@model ListModel<Models.Reservation>
@{ 
    Layout = null;
}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>活动室名称</th>
            <th>预约使用日期</th>
            <th>预约使用时间</th>
            <th>预约人姓名</th>
            <th>预约人联系方式</th>
            <th>预约时间</th>
            <th>审核状态</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Models.Reservation item in Model.Data)
        {
            <tr>
                <td>
                    @item.Place.PlaceName
                </td>
                <td>
                    @item.ReservationForDate.ToString("yyyy-MM-dd")
                </td>
                <td>
                    @item.ReservationForTime
                </td>
                <td>
                    @item.ReservationPersonName
                </td>
                <td>
                    @item.ReservationPersonPhone
                </td>
                <td>
                    @item.ReservationTime.ToString("yyyy-MM-dd HH:mm:ss")
                </td>
                <td>
                    @{
                        string status = "待审核";
                        switch (item.ReservationStatus)
                        {
                            case 0:
                                status = "待审核";
                                break;
                            case 1:
                                status = "审核通过";
                                break;
                            case 2:
                                status = "审核未通过";
                                break;
                            default:
                                break;
                        }                        
                    }
                    @Html.Raw(status)
                </td>
            </tr>
            }        
    </tbody>
</table>
@Html.Pager(Model.Pager);